@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    /* background-color: blueviolet; */
    font-family: Roboto;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
}

header nav ul li a{
    text-decoration: none;
    background-color: rgb(139, 139, 139);
    padding: 5px;
    border-radius: 5px;
}

header nav ul li a:hover{
    box-shadow: 1px 4px 10px black;
}

header{
    display: flex;
    justify-content: flex-end;
}
.redText{
    color: rgb(104, 0, 0);
}